body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}



@media screen and (min-width:992px) {
  .width {
    width: 960px;
    margin: 0 auto;
  }
}




$contact-text-color: #787878;
$icon-color: #777;







#contNav {
  background-color: aquamarine;
  height: 40px;
  overflow: hidden;
}



#contact {
  background-color: lightblue;
  float:left;
  font-size: 12px;
  color: $contact-text-color;


  a{
    color: $contact-text-color;
    padding: 0;
    
  }

  li{
    overflow:hidden;
    margin-top: 10px;
    margin-right: 20px;
  }

  i {
    color: $icon-color;
    margin-right: 5px;
    font-size: 14px;
  }

}






#icons{
  background-color: bisque;
  float: right;
  padding: 0;
  margin:0;

  a{
    padding-right: 5px;
    padding-top:10px;
    color: $icon-color;
  }


}


