body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}





$contact-text-color: #787878;
$icon-color: #777;
$hover-color-green: #18aeac;
$contacts-background-color: #f9f9f9;
$contacts-bottom-line-color: #e4e4e4;
$color-light-green: #19b8b5;
$color-light-green2: #24cfcc;
$color-dark-grey: #344747;
$drop-list-grey:#AAAAAA;
$drop-list-background: #13181A;
$drop-list-border: #1A1F21;
$settings-sign-hover-color: #324545;
$red-text-block-color: #E74C3C;
$dark-red-color: #CF2C1D;
$dark-red-hover: #BA281A;


/**first-line-menu- DESCTOP**/

@media screen and (max-width:991px) {
  #contNav  {
    display: none;
  }
}

#contNav {

  background-color: $contacts-background-color;
  border-bottom: 1px solid $contacts-bottom-line-color;
}



#contact {
  float:left;
  font-size: 12px;
  color: $contact-text-color;


  a{
    color: $contact-text-color;
    padding: 0;

  }



  i {
    color: $icon-color;
    margin-right: 5px;
    font-size: 14px;
  }

}


li.company {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 25px;

}


li#englishMain {
  margin-top:10px;
  margin-right: 25px;
  cursor: pointer;
  height: 30px;
}




#contact a:hover{
  background-color: $contacts-background-color;
}



#english {
display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999;
  width: 100px;
  font-size: 14px;
  font-style: italic;
  background-color: $color-light-green2;


  ul {
    list-style-type: none;
    background-color: $color-light-green2;
    margin-left:0;
    padding-left:0;
  }

a{
  color: white;
  background-color:$color-light-green2;
  display:block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}


  i {
    color: white;
    padding-left: 25px;
  }

}





#english li:hover{
  background-color: $color-light-green;
}


#english a:hover{
  background-color: $color-light-green;
}


li#englishMain:hover {
  #english {
    display: block;

  }

}



#english a:hover{
  text-decoration: none;

  #english{
    display:block;
  }


}




#icons{

  padding-right: 15px;
  padding-top: 5px;
  margin:0;
  box-sizing: border-box;



  a{
    padding: 5px 10px;
    margin-bottom:5px;
    color: $icon-color;
  }

}


#icons a:hover {
  background-color: $hover-color-green;
 color: white;
}



#vimeo:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.aIcons:hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}





/**first-line-menu - TABLET**/



#nav-toggle1 {
     display: none;
   }


@media screen
and (min-width:768px)
and (max-width:991px)

{
  #nav-toggle1 {
    display: block;
  }

}



#contNav2 {
  display: none;
}


@media screen
and (min-width:768px)
and (max-width:991px) {
  #contNav2  {
    display: block;
  }
}






#contNav2 {
overflow:hidden;
  background-color: $contacts-background-color;
  border-bottom: 1px solid $contacts-bottom-line-color;

}







#contact2 {
  margin-left: 150px;
font-size: 12px;
color: $contact-text-color;
overflow:hidden;

  a{
    color: $contact-text-color;
    padding: 0;

  }



  i {
    color: $icon-color;
    margin-right: 5px;
    font-size: 14px;
  }


}



li#englishMain2 {
  margin-top:10px;
  margin-right: 25px;
  cursor: pointer;
  height: 30px;
}




#contact2 a:hover{
  background-color: $contacts-background-color;
}



#english2 {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999;
  width: 100px;
  font-size: 14px;
  font-style: italic;
  background-color: $color-light-green2;


  ul {
    list-style-type: none;
    background-color: $color-light-green2;
    margin-left:0;
    padding-left:0;
  }

  a{
    color: white;
    background-color:$color-light-green2;
    display:block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }


  i {
    color: white;
    padding-left: 25px;
  }

}





#english2 li:hover{
  background-color: $color-light-green;
}


#english2 a:hover{
  background-color: $color-light-green;
}


li#englishMain2:hover {
  #english2 {
    display: block;

  }

}



#english2 a:hover{
  text-decoration: none;

  #english2{
    display:block;
  }


}




#icons2{
  padding-top: 5px;
  box-sizing: border-box;
  margin-left: 260px;


  a{
    padding: 5px 10px;
    margin-bottom:5px;
    color: $icon-color;
  }


}





#icons2 a:hover {
  background-color: $hover-color-green;
  color: white;
}



#vimeo2:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}



#nav-toggle1 {
  width: 100%;
  height: 15px;
  background-color: $contacts-background-color ;
  border-bottom: 1px solid $contacts-bottom-line-color;
  border-top: none;
  border-left: none;
  border-right: none;
  position: absolute;
top: 82px;




  i{
    color:$color-light-green2;
    position: absolute;
    top: 0;
    left: 50%;
  }
}





/**first-line-menu - MOBILE**/




#nav-toggle {
  display: none;
}


@media screen and (max-width:767px)

{
  #nav-toggle {
    display: block;
  }

}



#contNav3 {
  display: none;
}


@media screen and (max-width:767px)
 {
  #contNav3  {
    display: block;
  }
}




#contNav3 {
  overflow:hidden;
  background-color: $contacts-background-color;

}



#contact3 {
  height: 30px;
  font-size: 12px;
  color: $contact-text-color;
  margin-left: 80px;

  a{
    color: $contact-text-color;
    padding: 0;

  }



  i {
    color: $icon-color;
    margin-right: 5px;
    font-size: 14px;
  }


li{
  float: left;
}

}



li#englishMain3 {
  margin-top:10px;
  margin-right: 25px;
  cursor: pointer;
  height: 30px;
}




#contact3 a:hover{
  background-color: $contacts-background-color;
}



#english3 {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999;
  width: 100px;
  font-size: 14px;
  font-style: italic;
  background-color: $color-light-green2;


  ul {
    list-style-type: none;
    background-color: $color-light-green2;
    margin-left:0;
    padding-left:0;
  }

  a{
    color: white;
    background-color:$color-light-green2;
    display:block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }


  i {
    color: white;
    padding-left: 25px;
  }

}





#english3 li:hover{
  background-color: $color-light-green;
}


#english3 a:hover{
  background-color: $color-light-green;
}


li#englishMain3:hover {
  #english2 {
    display: block;

  }

}



#english3 a:hover{
  text-decoration: none;

  #english3{
    display:block;
  }


}




#icons3 {
  margin-left: 60px;
  box-sizing: border-box;

  a {
    padding: 5px 10px;
    margin-bottom: 5px;
    color: $icon-color;
  }

  li {
    float: left;
  }

}


#icons3 a:hover {
  background-color: $hover-color-green;
  color: white;
}



#vimeo3:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}



#nav-toggle {
  width: 100%;
  height: 15px;
  background-color: $contacts-background-color ;
  border-bottom: 1px solid $contacts-bottom-line-color;
  border-top: 1px solid $contacts-bottom-line-color;
  border-left: none;
  border-right:none;
  position: absolute;
  top: 83px;
padding: 0;



  i{
    color:$color-light-green2;
    position: absolute;
    top: 0;
    left: 50%;
  }
}






/**second-line-menu - DESCTOP/**/

@media screen and (max-width:991px) {
  #enar  {
    display: none;
  }
}



#enar {
  border-bottom: 1px solid $contacts-bottom-line-color;
}



#enar{
  font-size: 12px;
  margin-bottom: 0;

  li{
    padding-top: 15px;
  }

  a {
    color: $color-dark-grey;
    font-weight: bold;
  }

}

#enarPic {
  padding-right: 40px;
}

#enar a:hover{
background-color: white;
  color: $color-light-green2;
}


#searchBorder {
  width: 200px;
  height: 40px;
  border: 1px solid $contacts-bottom-line-color;
  border-radius: 20px;


input{
  border:none;
  padding-top:10px;
  padding-bottom: 10px;
}

}


#searchButton {
  border: none;
  border-radius: 50%;
margin-left:5px;
 color: $color-light-green2;

}

#searchButton:hover{
  background-color: white;
}



#cart {
  width: 40px;
  height: 40px;
  display: inline-block;
float:right;
  border: 1px solid $contacts-bottom-line-color;
  border-radius: 50%;
  overflow:hidden;


  i{
    font-size: 20px;
    color: $color-dark-grey;
    padding: 10px 8px;

  }

}


#searchPanel, #cart {
  margin-top: 20px;
  margin-bottom: 20px;
}

#cart i:hover{
  color: $color-light-green2;
}

#homeDrop {
  display:none;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 99999;
}


li#home:hover {

  #homeDrop {
    display:block;
  }

}



#homeDrop {
background-color: $drop-list-background;
  width: 200px;
  text-transform: uppercase;


  a {
    color: $drop-list-grey;
    font-size: 13px;
    display:block;
    width: 100%;
    margin-left:0;
    padding-left:0;
    font-weight: normal;
  }

  span{
    position: absolute;
    right: 5px;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-left:0;
  }


  li{
    border-bottom: 1px solid $drop-list-border;
    margin-left:0;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
  }
}




#homeDrop ul li:first-child {
  border-top: 1px solid $color-light-green2;
}

#homeDrop ul li:last-child {
  border-bottom: none;
}



.homepadding{
  padding-bottom: 30px;
}



#homeDrop a:hover{
  background-color: black;
  text-decoration: none;
  color: white;

}

#homeDrop li:hover{
  background-color: black;
}





/**second-line-menu - TABLET**/

#nav-toggle-enar2 {
  display: none;
}


@media screen
and (min-width:768px)
and (max-width:991px)

{
  #nav-toggle-enar2{
    display: block;
  }

}



#enar2 {
  display: none;
}


@media screen
and (min-width:768px)
and (max-width:991px) {
  #enar2  {
    display: block;
  }
}




#enar2first {
  border-bottom: 1px solid $contacts-bottom-line-color;
}




#enarPicture2 {
  img{
  padding-top: 25px;
  }
}


#enar2ul a:hover{
  background-color: white;
  color: $color-light-green2;
}


#searchBorder2 {
  width: 40px;
  height: 40px;
  border: 1px solid $contacts-bottom-line-color;
  border-radius: 50%;
float:left;
  margin-left:10px;
  margin-right: 10px;
}


#searchButton2 {
background-color: white;
  border: none;
  border-radius: 50%;
  color: $drop-list-grey;
  margin-left:7px;
  margin-top: 7px;
  font-size: 14px;
}




#nav-toggle-enar2 {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid $contacts-bottom-line-color;
  float:left;
  color:$drop-list-grey;
  font-weight: normal;
  font-size: 15px;
}




#cart2 {
  width: 40px;
  height: 40px;
  border: 1px solid $contacts-bottom-line-color;
  border-radius: 50%;
  overflow:hidden;
float:left;
margin-top: 0;
  padding-top: 0;

  i{
    font-size: 20px;
    color: $color-dark-grey;
    padding: 10px 8px;

  }

}




#cart2 i:hover{
  color: $color-light-green2;
}


#searchBorder2, #nav-toggle-enar2, #cart2 {
  margin-top: 25px;
}



#enar2ul {
  font-size: 12px;
  margin-bottom: 0;

  li{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $contacts-bottom-line-color;
    margin-left:10px;
    margin-right: 10px;
  }

  a {
    color: $color-dark-grey;
    font-weight: bold;
  }
}


#enar2ul a:hover{
  color: $color-light-green2;
}


#homeDrop2 {
  display:none;
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 99999;
}


li#home2:hover {

  #homeDrop2 {
    display:block;
  }

}



#homeDrop2 {
  background-color: white;
  width: 100%;
  text-transform: uppercase;


  a {
    color: $color-dark-grey;
    font-size: 13px;
    display:block;
    width: 100%;
    margin-left:0;
    padding-left:0;
    font-weight: normal;
  }

  span{
    position: absolute;
    right: 5px;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-left:0;
  }


  li{
    border-bottom: 1px solid $contacts-bottom-line-color;
    margin-left:0;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
  }
}




#homeDrop2 ul li:first-child {
  border-top: none;
}

#homeDrop2 ul li:last-child {
  border-bottom: none;
}



.homepadding{
  padding-bottom: 30px;
}



#homeDrop2 a:hover{
  text-decoration: none;
  color: $color-light-green2;

}










































.fixedClass {
  position: fixed;
  top: 0;
  opacity: 0.8;
}







#background img{
  height: 500px;
  width: 100%;
}

/**
@media screen and (max-width:767px) {
  #background img { height: 150px;
  }
}
**/


#background {
  position:relative;
  overflow:hidden;
}


#settings {
  position:absolute;
  top: 20px;
  left: 15px;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid $contacts-bottom-line-color;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;

  a{
    display:block;
    margin-top: 5px;
    margin-left: 10px;
    color: $color-light-green2;
    font-size: 20px;
  }
}

#settings a:hover{
  color: $settings-sign-hover-color;
}


#blocks {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
}


#redBlock {
  overflow: hidden;
}


#redText {
background-color:$red-text-block-color;
  width: 215px;
  height: 40px;
  color: white;
  font-size: 17px;
  font-style: italic;
  float:left;
  cursor: move;

p{
  padding-left:10px;
  padding-top: 7px;
}

}



#redLink {
width: 30px;
  height: 40px;
  background-color:$dark-red-color ;
overflow:hidden;
  float:left;

  a{
    display: block;
    color: white;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 7px;
  }
}



#redlink:hover {
  background-color:$dark-red-hover ;
}




#redLink a:hover {
  color: $contacts-bottom-line-color;
  text-decoration: none;
}


#whiteBlock {
  background-color: white;
  width: 400px;
  height: 70px;
  cursor: move;
  font-size: 28px;
  font-weight: bold;
  color: $red-text-block-color;

  p{
    padding-left:15px;
    padding-top: 12px;
  }
}



/**kaip sukurti Font????**/








#blackBlock {
  background-color: RGBA(0, 0, 0, 0.77);
  width: 550px;
  height: 50px;
  font-family:  "loremipsum", serif;
  font-size: 20px;
  cursor: move;

  p{
    color:white;
    opacity: 100;
    padding-left:15px;
    padding-top: 12px;

  }
}




















