body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

@media screen and (max-width: 320px) {
  .col-sx-1 {
    width: 8.33%; }

  .col-sx-2 {
    width: 16.66%; }

  .col-sx-3 {
    width: 25%; }

  .col-sx-4 {
    width: 33.33%; }

  .col-sx-5 {
    width: 41.66%; }

  .col-sx-6 {
    width: 50%; }

  .col-sx-7 {
    width: 58.33%; }

  .col-sx-8 {
    width: 66.66%; }

  .col-sx-9 {
    width: 75%; }

  .col-sx-10 {
    width: 83.33%; }

  .col-sx-11 {
    width: 91.66%; }

  .col-sx-12 {
    width: 100%; } }
/**first-line-menu- DESCTOP**/
@media screen and (max-width: 991px) {
  #contNav {
    display: none; } }
#contNav {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e4e4e4; }

#contact {
  float: left;
  font-size: 12px;
  color: #787878; }
  #contact a {
    color: #787878;
    padding: 0; }
  #contact i {
    color: #777;
    margin-right: 5px;
    font-size: 14px; }

li.company {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 25px; }

li#englishMain {
  margin-top: 10px;
  margin-right: 25px;
  cursor: pointer;
  height: 30px; }

#contact a:hover {
  background-color: #f9f9f9; }

#english {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999;
  width: 100px;
  font-size: 14px;
  font-style: italic;
  background-color: #24cfcc; }
  #english ul {
    list-style-type: none;
    background-color: #24cfcc;
    margin-left: 0;
    padding-left: 0; }
  #english a {
    color: white;
    background-color: #24cfcc;
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px; }
  #english i {
    color: white;
    padding-left: 25px; }

#english li:hover {
  background-color: #19b8b5; }

#english a:hover {
  background-color: #19b8b5; }

li#englishMain:hover #english {
  display: block; }

#english a:hover {
  text-decoration: none; }
  #english a:hover #english {
    display: block; }

#icons {
  padding-right: 15px;
  padding-top: 5px;
  margin: 0;
  box-sizing: border-box; }
  #icons a {
    padding: 5px 10px;
    margin-bottom: 5px;
    color: #777; }

#icons a:hover {
  background-color: #18aeac;
  color: white; }

#vimeo:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.aIcons:hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

/**first-line-menu - TABLET**/
#nav-toggle1 {
  display: none; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #nav-toggle1 {
    display: block; } }
#contNav2 {
  display: none; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #contNav2 {
    display: block; } }
#contNav2 {
  overflow: hidden;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e4e4e4; }

#contact2 {
  margin-left: 100px;
  font-size: 12px;
  color: #787878;
  overflow: hidden; }
  #contact2 a {
    color: #787878;
    padding: 0; }
  #contact2 i {
    color: #777;
    margin-right: 5px;
    font-size: 14px; }

li#englishMain2 {
  margin-top: 10px;
  margin-right: 25px;
  cursor: pointer;
  height: 30px; }

#contact2 a:hover {
  background-color: #f9f9f9; }

#english2 {
  display: none;
  position: fixed;
  top: 40px;
  z-index: 999999;
  width: 100px;
  height: 60px;
  font-size: 14px;
  font-style: italic;
  background-color: #24cfcc;
  overflow: hidden; }
  #english2 ul {
    list-style-type: none;
    background-color: #24cfcc;
    margin-left: 0;
    padding-left: 0; }
  #english2 a {
    color: white;
    background-color: #24cfcc;
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px; }
  #english2 i {
    color: white;
    padding-left: 25px; }

#english2 li:hover {
  background-color: #19b8b5; }

#english2 a:hover {
  background-color: #19b8b5; }

li#englishMain2:hover #english2 {
  display: block; }

#english2 a:hover {
  text-decoration: none; }
  #english2 a:hover #english2 {
    display: block; }

#icons2 {
  padding-top: 5px;
  box-sizing: border-box;
  margin-left: 200px; }
  #icons2 a {
    padding: 5px 10px;
    margin-bottom: 5px;
    color: #777; }

#icons2 a:hover {
  background-color: #18aeac;
  color: white; }

#vimeo2:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

#nav-toggle1 {
  width: 100%;
  height: 15px;
  background-color: #f9f9f9;
  border: none;
  padding: 0; }
  #nav-toggle1 i {
    display: block;
    color: #24cfcc;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e4e4e4;
    width: 100%; }

/**first-line-menu - MOBILE**/
#nav-toggle {
  display: none; }

@media screen and (max-width: 767px) {
  #nav-toggle {
    display: block; } }
#contNav3 {
  display: none; }

@media screen and (max-width: 767px) {
  #contNav3 {
    display: block; } }
#contNav3 {
  overflow: hidden;
  background-color: #f9f9f9; }

#contact3 {
  height: 30px;
  font-size: 12px;
  color: #787878;
  margin-left: 75px; }
  #contact3 a {
    color: #787878;
    padding: 0; }
  #contact3 i {
    color: #777;
    margin-right: 5px;
    font-size: 14px; }
  #contact3 li {
    float: left; }

li#englishMain3 {
  margin-top: 10px;
  margin-right: 25px;
  cursor: pointer;
  height: 30px; }

#contact3 a:hover {
  background-color: #f9f9f9; }

#english3 {
  display: none;
  position: fixed;
  top: 50px;
  z-index: 99999;
  width: 100px;
  font-size: 13px;
  font-style: italic;
  background-color: #24cfcc; }
  #english3 ul {
    list-style-type: none;
    background-color: #24cfcc;
    margin-left: 0;
    padding-left: 0; }
  #english3 a {
    color: white;
    background-color: #24cfcc;
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px; }
  #english3 i {
    color: white;
    padding-left: 25px; }

#english3 li:hover {
  background-color: #19b8b5; }

#english3 a:hover {
  background-color: #19b8b5; }

li#englishMain3:hover #english3 {
  display: block; }

#english3 a:hover {
  text-decoration: none; }
  #english3 a:hover #english3 {
    display: block; }

#icons3 {
  margin-left: 55px;
  box-sizing: border-box; }
  #icons3 a {
    padding: 5px 10px;
    margin-bottom: 5px;
    color: #777; }
  #icons3 li {
    float: left; }

#icons3 a:hover {
  background-color: #18aeac;
  color: white; }

#vimeo3:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

#nav-toggle {
  width: 100%;
  height: 15px;
  background-color: #f9f9f9;
  border: none;
  padding: 0; }
  #nav-toggle i {
    display: block;
    color: #24cfcc;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e4e4e4;
    width: 100%; }

@media screen and (max-width: 320px) {
  #contact3 {
    margin-left: 50px; }

  #icons3 {
    margin-left: 30px; } }
/**second-line-menu - DESCTOP/**/
@media screen and (max-width: 991px) {
  #enar {
    display: none; } }
.fixedClass {
  position: fixed;
  top: 0;
  z-index: 999; }

.fixedClass2 {
  position: fixed;
  top: 0;
  z-index: 999; }

#enar {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
  background-color: white;
  clear: both; }

#enar {
  font-size: 12px; }
  #enar li {
    padding-top: 15px; }
  #enar a {
    color: #344747;
    font-weight: bold; }

#enarPic {
  padding-right: 40px; }

#enar a:hover {
  background-color: white;
  color: #24cfcc; }

#searchBorder {
  width: 200px;
  height: 40px;
  border: 1px solid #e4e4e4;
  border-radius: 20px; }
  #searchBorder input {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px; }

#searchButton {
  border: none;
  border-radius: 50%;
  margin-left: 5px;
  color: #24cfcc; }

#searchButton:hover {
  background-color: white; }

#cart {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  overflow: hidden; }
  #cart i {
    font-size: 20px;
    color: #344747;
    padding: 10px 8px; }

#searchPanel, #cart {
  margin-top: 20px;
  margin-bottom: 20px; }

#cart i:hover {
  color: #24cfcc; }

#homeDrop {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 99999; }

li#home:hover #homeDrop {
  display: block; }

#homeDrop {
  background-color: #13181A;
  width: 200px;
  text-transform: uppercase; }
  #homeDrop a {
    color: #AAAAAA;
    font-size: 13px;
    display: block;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    font-weight: normal; }
  #homeDrop span {
    position: absolute;
    right: 5px; }
  #homeDrop ul {
    list-style-type: none;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 0; }
  #homeDrop li {
    border-bottom: 1px solid #1A1F21;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }

#homeDrop ul li:first-child {
  border-top: 1px solid #24cfcc; }

#homeDrop ul li:last-child {
  border-bottom: none; }

.homepadding {
  padding-bottom: 30px; }

#homeDrop a:hover {
  background-color: black;
  text-decoration: none;
  color: white; }

#homeDrop li:hover {
  background-color: black; }

/**second-line-menu - TABLET & MOBILE**/
#nav-toggle-enar2 {
  display: none; }

@media screen and (max-width: 991px) {
  #nav-toggle-enar2 {
    display: block; } }
#enar2 {
  display: none;
  background-color: white;
  width: 100%; }

#enar2ul {
  display: none; }

@media screen and (max-width: 991px) {
  #enar2 {
    display: block; }

  #enar2ul {
    display: block; } }
@media screen and (max-width: 767px) {
  #enarPicture2 {
    margin-left: 10px; }

  #enar2first {
    padding-bottom: 15px; } }
@media screen and (max-width: 320px) {
  #enarPicture2 {
    margin-left: 70px; }

  #searchElements {
    margin-left: 70px; }

  #enar2first {
    padding-bottom: 15px; } }
#enar2first {
  border-bottom: 1px solid #e4e4e4; }

#enarPicture2 img {
  padding-top: 15px; }

#enar2ul a:hover {
  background-color: white;
  color: #24cfcc; }

#searchBorder2 {
  width: 40px;
  height: 40px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden; }

#searchButton2 {
  background-color: white;
  border: none;
  border-radius: 50%;
  color: #AAAAAA;
  margin-left: 7px;
  margin-top: 7px;
  font-size: 14px; }

#nav-toggle-enar2 {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #e4e4e4;
  float: left;
  color: #AAAAAA;
  font-weight: normal;
  font-size: 15px; }

#nav-toggle-enar2 i:active {
  border: none; }

#cart2 {
  width: 40px;
  height: 40px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-top: 0;
  padding-top: 0; }
  #cart2 i {
    font-size: 20px;
    color: #344747;
    padding: 10px 8px; }

#cart2 i:hover {
  color: #24cfcc; }

#searchBorder2, #nav-toggle-enar2, #cart2 {
  margin-top: 15px; }

#enar2ul {
  font-size: 12px;
  margin-bottom: 0; }
  #enar2ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
    margin-left: 10px;
    margin-right: 10px; }
  #enar2ul a {
    color: #344747;
    font-weight: bold; }

#enar2ul a:hover {
  color: #24cfcc; }

#homeDrop2 {
  display: none;
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 99999; }

li#home2:hover #homeDrop2 {
  display: block; }

#homeDrop2 {
  background-color: white;
  width: 100%;
  text-transform: uppercase; }
  #homeDrop2 a {
    color: #344747;
    font-size: 13px;
    display: block;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    font-weight: normal; }
  #homeDrop2 span {
    position: absolute;
    right: 5px; }
  #homeDrop2 ul {
    list-style-type: none;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 0; }
  #homeDrop2 li {
    border-bottom: 1px solid #e4e4e4;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }

#homeDrop2 ul li:first-child {
  border-top: none; }

#homeDrop2 ul li:last-child {
  border-bottom: none; }

.homepadding {
  padding-bottom: 30px; }

#homeDrop2 a:hover {
  text-decoration: none;
  color: #24cfcc; }

#background img {
  height: 500px;
  width: 100%; }

#background {
  position: relative;
  overflow: hidden;
  clear: both; }

#settings {
  position: absolute;
  top: 40px;
  left: 15px;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #e4e4e4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1; }
  #settings a {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    color: #24cfcc;
    font-size: 20px; }

#settings a:hover {
  color: #324545; }

#blocks {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100%; }

#redBlock {
  overflow: hidden; }

#redText {
  background-color: #E74C3C;
  width: 215px;
  height: 40px;
  color: white;
  font-size: 17px;
  font-style: italic;
  float: left;
  cursor: move; }
  #redText p {
    padding-left: 10px;
    padding-top: 7px; }

#redLink {
  width: 30px;
  height: 40px;
  background-color: #CF2C1D;
  overflow: hidden;
  float: left; }
  #redLink a {
    display: block;
    color: white;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 7px; }

#redlink:hover {
  background-color: #BA281A; }

#redLink a:hover {
  color: #e4e4e4;
  text-decoration: none; }

#whiteBlock {
  background-color: white;
  width: 400px;
  height: 70px;
  cursor: move;
  font-size: 28px;
  font-weight: bold;
  color: #E74C3C; }
  #whiteBlock p {
    padding-left: 15px;
    padding-top: 12px; }

@font-face {
  font-family: "loremipsum";
  src: url("../font/loremipsum/loremipsum.eot?") format("eot"), url("../font/loremipsum/loremipsum.woff2") format("woff2"), url("../font/loremipsum/loremipsum.woff") format("woff"), url("../font/loremipsum/loremipsum.ttf") format("truetype"), url("../font/loremipsum/loremipsum.svg#loremipsum") format("svg"); }
#blackBlock {
  background-color: RGBA(0, 0, 0, 0.77);
  width: 550px;
  height: 50px;
  font-family: "loremipsum", serif;
  font-size: 16px;
  cursor: move; }
  #blackBlock p {
    color: white;
    opacity: 100;
    padding-left: 15px;
    padding-top: 12px; }

/**blocks for MOBILE**/
@media screen and (max-width: 767px) {
  #background img {
    height: 160px; }

  #blocks {
    position: absolute;
    top: 30px;
    left: 30px; }

  #redText {
    width: 150px;
    height: 30px;
    font-size: 13px; }
    #redText p {
      padding-left: 5px;
      padding-top: 5px; }

  #redLink {
    width: 15px;
    height: 30px; }
    #redLink a {
      font-size: 13px;
      margin-left: 5px;
      margin-top: 5px; }

  #whiteBlock {
    width: 220px;
    height: 35px;
    font-size: 16px; }
    #whiteBlock p {
      padding-left: 5px;
      padding-top: 5px; }

  #blackBlock {
    display: none; } }
/**blocks for TABLET**/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #background img {
    height: 300px; }

  #blocks {
    position: absolute;
    top: 50px;
    left: 30px; }

  #redText {
    width: 200px;
    height: 35px;
    font-size: 15px; }
    #redText p {
      padding-left: 5px;
      padding-top: 5px; }

  #redLink {
    width: 15px;
    height: 35px; }
    #redLink a {
      font-size: 13px;
      margin-left: 5px;
      margin-top: 7px; }

  #whiteBlock {
    width: 250px;
    height: 35px;
    font-size: 18px; }
    #whiteBlock p {
      padding-left: 5px;
      padding-top: 5px; }

  #blackBlock {
    width: 450px;
    height: 32px;
    font-size: 13px; }
    #blackBlock p {
      padding-left: 10px;
      padding-top: 5px; } }
#purchases {
  overflow: hidden; }

/**purchase1**/
#purchase {
  margin-top: 30px; }

#purchaseBascet {
  float: left;
  width: 40px;
  height: 40px;
  border-right: 1px solid #e4e4e4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white; }
  #purchaseBascet i {
    color: #24cfcc;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px; }

#purchaseText {
  float: left;
  width: 150px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white; }
  #purchaseText p {
    color: #AAAAAA;
    font-size: 14px;
    padding-top: 10px;
    text-align: center; }

#purchaseText a:hover {
  text-decoration: none; }

#purchaseText p:hover {
  color: #24cfcc; }

#purchases:hover #purchaseText, #purchases:hover #purchaseBascet {
  display: none; }
#purchases:hover #purchaseText2, #purchases:hover #purchaseBascet2 {
  display: block; }

/**purchase2**/
#purchase2 {
  margin-top: 30px; }

#purchaseText2 {
  display: none;
  float: left;
  width: 150px;
  height: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white; }
  #purchaseText2 p {
    color: #AAAAAA;
    font-size: 14px;
    padding-top: 10px;
    text-align: center; }

#purchaseText a:hover {
  text-decoration: none; }

#purchaseText p:hover {
  color: #24cfcc; }

#purchaseBascet2 {
  display: none;
  float: left;
  width: 40px;
  height: 40px;
  border-left: 1px solid #e4e4e4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white; }
  #purchaseBascet2 i {
    color: #24cfcc;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px; }

#purchaseText2 a:hover {
  color: #24cfcc;
  text-decoration: none; }

#purchaseText2 p:hover {
  color: #24cfcc; }

/** purchase for mobile**/
@media screen and (max-width: 767px) {
  #purchase {
    margin-top: 7px; }

  #purchase2 {
    margin-top: 7px; }

  #purchaseBascet {
    width: 30px;
    height: 25px; }
    #purchaseBascet i {
      font-size: 13px;
      margin-top: 5px;
      margin-left: 7px; }

  #purchaseText {
    width: 90px;
    height: 25px; }
    #purchaseText p {
      font-size: 11px;
      padding-top: 3px; }

  #purchaseBascet2 {
    width: 30px;
    height: 25px; }
    #purchaseBascet2 i {
      font-size: 13px;
      margin-top: 5px;
      margin-left: 7px; }

  #purchaseText2 {
    width: 90px;
    height: 25px; }
    #purchaseText2 p {
      font-size: 11px;
      padding-top: 3px; } }
/** purchase for tablet**/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #purchase {
    margin-top: 10px; }

  #purchase2 {
    margin-top: 10px; }

  #purchaseBascet {
    width: 30px;
    height: 30px; }
    #purchaseBascet i {
      font-size: 15px;
      margin-top: 7px;
      margin-left: 7px; }

  #purchaseText {
    width: 130px;
    height: 30px; }
    #purchaseText p {
      font-size: 12px;
      padding-top: 7px; }

  #purchaseBascet2 {
    width: 30px;
    height: 30px; }
    #purchaseBascet2 i {
      font-size: 15px;
      margin-top: 7px;
      margin-left: 7px; }

  #purchaseText2 {
    width: 130px;
    height: 30px; }
    #purchaseText2 p {
      font-size: 12px;
      padding-top: 7px; } }
#pagination {
  width: 120px;
  height: 30px;
  margin-top: 130px;
  margin-left: 40%;
  z-index: 999; }

#paginationBullets {
  list-style-type: none; }
  #paginationBullets li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    padding-right: 10px;
    margin-left: 10px; }
  #paginationBullets a {
    margin-top: 2px;
    margin-left: 2px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%; }

#paginationBullets a:hover {
  background-color: #24cfcc; }

@media screen and (max-width: 767px) {
  #pagination {
    margin-top: 10px;
    margin-left: 30%; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  #pagination {
    margin-top: 60px;
    margin-left: 35%; } }

/*# sourceMappingURL=style.css.map */
