body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}





$contact-text-color: #787878;
$icon-color: #777;
$hover-color-green: #18aeac;
$contacts-background-color: #f9f9f9;
$contacts-bottom-line-color: #e4e4e4;
$color-light-green: #19b8b5;
$color-light-green2: #79e1df;
$color-dark-grey: #324545;


#contNav {

  background-color: $contacts-background-color;
  border-bottom: 1px solid $contacts-bottom-line-color;
}



#contact {
  float:left;
  font-size: 12px;
  color: $contact-text-color;


  a{
    color: $contact-text-color;
    padding: 0;

  }



  i {
    color: $icon-color;
    margin-right: 5px;
    font-size: 14px;
  }

}


li.company {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 25px;

}


li#englishMain {
  margin-top:10px;
  margin-right: 25px;
  cursor: pointer;
  height: 30px;
}




#contact a:hover{
  background-color: $contacts-background-color;
}



#english {
display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999;
  width: 100px;
  font-size: 14px;
  font-style: italic;
  background-color: $color-light-green2;


  ul {
    list-style-type: none;
    background-color: $color-light-green2;
    margin-left:0;
    padding-left:0;
  }

a{
  color: white;
  background-color:$color-light-green2;
  display:block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}


  i {
    color: white;
    padding-left: 25px;
  }

}





#english li:hover{
  background-color: $color-light-green;
}


#english a:hover{
  background-color: $color-light-green;
}


li#englishMain:hover {
  #english {
    display: block;

  }

}



#english a:hover{
  text-decoration: none;

  #english{
    display:block;
  }


}




#icons{

  padding-right: 15px;
  padding-top: 5px;
  margin:0;
  box-sizing: border-box;



  a{
    padding: 5px 10px;
    margin-bottom:5px;
    color: $icon-color;
  }

}


#icons a:hover {
  background-color: $hover-color-green;
 color: white;
}



#vimeo:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.aIcons:hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}



#shopping {
  display: inline-block;
  width: 30px;
  float:right;
}


#enar {
  border-bottom: 1px solid $contacts-bottom-line-color;
}

#homeDrop {
display:none;
}


li#home:hover {

#homeDrop {
  display:block;
}

}


#enar{
  font-size: 12px;

  li{
    padding-top: 15px;
  }

  a {
    color: $contact-text-color;
    font-weight: bold;
  }

}

#enarPic {
  padding-right: 40px;
}

#enar a:hover{
background-color: white;
  color: $color-light-green;
}




#searchButton {
  border-radius: 50%;
}



